<app-nav></app-nav>

<div class="about_banner banner">
    <div class="container" style="padding-top: 200px;">
        <h3>About</h3>

        <div class="breadcrumb1">
            <ul _ngcontent-c5="">
                <li class="icon6"><a routerlink="/home" href="/home">Home</a></li>
                <li class="current-page">About</li>
            </ul>
        </div>

    </div>
</div>


<div class="container" style="padding-top:10px">
    <div class="row">
        <div class="col-md-12">
            <h2 class="home-banner-heading wow visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name:bounceInDown; visibility: visible; animation-delay:0.5s; animation-name: bounceInDown;font-size:40px">About</h2>

            <p class="pt-2">
                <b>idatum.io</b> is the primary source of market intelligence focused on identifying business opportunities and key decision makers worldwide. We provide access to over 5 million decision makers across 2 million profiled organizations
                in more than 200 countries. With our local presence in 32 countries, we provide tailored target marketing programs worldwide.
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>