<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Crypto Ratings</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center d-flex theme-color">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="home-banner-heading wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInDown;">Blockchain Solutions</h1>

                <p class="home-banner-text wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Sofocle empowers technology innovation and value creation leveraging the power of Blockchain Technology. We build products and solutions for various industries notably Finance, Insurance, Healthcare, Manufacturing and Logistics.</p>

                <div class="home-banner-tags wow fadeIn" data-wow-duration="2s" data-wow-delay="200ms" style="visibility: visible; animation-duration: 2s; animation-delay: 200ms; animation-name: fadeIn;"><strong>Expertise:&nbsp;&nbsp;</strong>HyperLedger, &nbsp;&nbsp;Fabric, &nbsp;&nbsp;Ethereum, &nbsp;&nbsp;Multichain, &nbsp;&nbsp;Smart Contracts</div>

                <a class="primary-btn section-btn home-banner-btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">work with us today</a>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>




<!-- statr section -->
<div class="section-solutions animate-bg-chain">
    <div id="particles-js" style="max-height:300px"></div>
    <div class="container chain-section">
        <div class="row" style="padding-top:40px">
            <div class="col-md-4 innerheight">
                <div class="section-card section-card-sofocap wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="0s" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
                    <div class="section-card-icon padT0"><img width="40" src="assets/images/sofocap-solution-icon.svg" alt="Sofocap Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">sofoCap</h2>
                        <p class="section-card-text">Supply Chain <br>Financing Solution</p>
                        <a class="rounded-ghost-btn section-card-btn">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-card section-card-sofochain wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="400ms" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 400ms; animation-name: fadeIn;">
                    <div class="section-card-icon"><img width="65" src="assets/images/sofochain-solution-icon.svg" alt="Sofochain Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">sofoChain</h2>
                        <p class="section-card-text">Product Supply Chain solution</p>
                        <a class="rounded-ghost-btn section-card-btn">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-card section-card-sofoinsure wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="800ms" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeIn;">
                    <div class="section-card-icon"><img width="55" src="assets/images/sofoinsure-solution-icon.svg" alt="sofoinsure Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">sofoInsure</h2>
                        <p class="section-card-text">Autonomous Claim Processing Solution</p>
                        <a class="rounded-ghost-btn section-card-btn">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<div class="clearfix"></div>

<!-- start section -->
<div class="section section-pd">
    <div class="container">
        <div class="row">
            <div class="col-md-12 theme-color">
                <h2 class="section-heading text-center marB0 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Looking for a partner for your innovative idea?</h2>
                <p class="text-center marT25 fs-18 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Whether you are looking for a POC, custom Blockchain solution or Consulting, the team of Blockchain <br>experts at Sofocle can help you.</p>
                <div class="section-cards-wrapper marT50">
                    <ul class="row">
                        <li class="col-md-6 wow zoomIn" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: zoomIn;">
                            <div class="section-card theme2">
                                <div class="section-card-icon"><img width="90" src="assets/images/blockchain-development-icon-themecolor.svg" alt="Blockchain Development"></div>
                                <div class="section-card-content">
                                    <h3 class="section-card-heading">Blockchain <br>Development</h3>
                                    <p class="section-card-text light-font">We help you identify the use cases suitable for Blockchain applications, relevant to your organization and implement them using our expert team of Blockchain developers.</p>
                                    <a class="primary-btn small-btn rounded-btn section-card-btn">Read More</a>
                                </div>
                            </div>
                        </li>
                        <li class="col-md-6 wow zoomIn" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: zoomIn;">
                            <div class="section-card theme2">
                                <div class="section-card-icon"><img width="90" src="assets/images/blockchain-consulting-icon-themecolor.svg" alt="Blockchain Consulting"></div>
                                <div class="section-card-content">
                                    <h3 class="section-card-heading">Blockchain <br>Consulting</h3>
                                    <p class="section-card-text light-font">We help you evaluate and implement blockchain technology in your business domains like Trade Finance, Digital Assets Management, Payments etc.</p>
                                    <a class="primary-btn small-btn rounded-btn section-card-btn">Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<!-- start section -->
<div class="section section-how-we-work overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-center marB0 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">How We Work</h2>
                <p class="section-tagline text-center marT25 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Brainstorming sessions to discuss the solution details</p>
                <div class="work-timeline-wrap">
                    <ul class="work-timeline">
                        <li class="timeline-item">
                            <figure class="timeline-item-figure"><img class="topmost-img wow flash" width="400" src="assets/images/our-work-idea-icon.svg" alt="Idea" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: flash;"></figure>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading fadeInRight wow" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInRight;">SKETCHING</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">Process flows</p>
                            </div>
                            <figure class="timeline-item-figure"><img src="assets/images/our-work-sketching-img.svg" alt="SKETCHING" data-wow-duration="2s" data-wow-delay="0s" class="wow fadeInLeft" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;"></figure>
                        </li>
                        <li class="timeline-item has-bg">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;">DESIGNING</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">Layouts of the front-end interface</p>
                            </div>
                            <figure class="timeline-item-figure"><img src="assets/images/our-work-designing-img.svg" alt="DESIGNING" data-wow-duration="2s" data-wow-delay="0s" class="wow fadeInRight" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInRight;"></figure>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading wow fadeInRight" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInRight;">CODING</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">Core Blockchain Development.</p>
                            </div>
                            <figure class="timeline-item-figure"><img src="assets/images/our-work-coding-img.svg" alt="CODING" data-wow-duration="2s" data-wow-delay="0s" class="wow fadeInLeft" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;"></figure>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;">TESTING</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">End-to-end QA analysis</p>
                            </div>
                            <figure class="timeline-item-figure"><img src="assets/images/our-work-testing-img.svg" alt="TESTING" data-wow-duration="2s" data-wow-delay="0s" class="wow fadeInRight" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInRight;"></figure>
                        </li>
                        <li class="timeline-item has-bg">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading wow fadeInRight" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInRight;">IMPLEMENTATION</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">Full onsite support at the time of implementation</p>
                            </div>
                            <figure class="timeline-item-figure"><img src="assets/images/our-work-implementation-img.svg" alt="IMPLEMENTATION" data-wow-duration="2s" data-wow-delay="0s" class="wow fadeInLeft" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;"></figure>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-item-content">
                                <h3 class="timeline-item-heading wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInLeft;">SUPPORT &amp; TRAINING</h3>
                                <p data-wow-duration="2s" data-wow-delay="800ms" class="wow fadeInUp" style="visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeInUp;">Post implementation support and training</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->