<app-nav></app-nav>

<header class="masthead text-center d-flex theme-color">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="home-banner-heading wow fadeInDown" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInDown;font-size:40px">Business Research Database & Sales Solution</h2>

                <p class="home-banner-text wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">idatum.io empowers businesses across different industries by offering reliable Company Data, in-depth Industry Analyses, company's Financials, Top Competitors, Business Contacts, and more.</p>

                <div class="home-banner-tags wow fadeIn" data-wow-duration="2s" data-wow-delay="200ms" style="visibility: visible; animation-duration: 2s; animation-delay: 200ms; animation-name: fadeIn;"><strong>Expertise:&nbsp;&nbsp;</strong>Industry Insights, &nbsp;&nbsp;Business Insight, &nbsp;&nbsp;Financial & Competitive Research, &nbsp;&nbsp;Sales Leads</div>

                <a routerLink="/contact" class="primary-btn section-btn home-banner-btn wow fadeInUp no-ul" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">work with us today</a>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>




<!-- statr section -->
<div class="section-solutions animate-bg-chain">
    <div id="particles-js" style="max-height:300px"></div>
    <div class="container chain-section">
        <div class="row" style="padding-top:40px">
            <div class="col-md-4 innerheight">
                <div class="section-card section-card-sofocap wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="0s" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeIn;">
                    <div class="section-card-icon padT0"><img width="40" src="assets/images/sofocap-solution-icon.svg" alt="Sofocap Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">COMPANY PROFILES</h2>
                        <!-- <p class="section-card-text">COMPANY PROFILES</p> -->
                        <a class="rounded-ghost-btn section-card-btn no-ul" routerLink="/services">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-card section-card-sofochain wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="400ms" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 400ms; animation-name: fadeIn;">
                    <div class="section-card-icon"><img width="65" src="assets/images/sofochain-solution-icon.svg" alt="Sofochain Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">INDUSTRY ANALYSIS <br> & REPORTS </h2>
                        <!-- <p class="section-card-text">Product Supply Chain solution</p> -->
                        <a class="rounded-ghost-btn section-card-btn no-ul" routerLink="/services">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="section-card section-card-sofoinsure wow fadeIn" data-match-height="solutionItem" data-wow-duration="2s" data-wow-delay="800ms" style="height: 224px; visibility: visible; animation-duration: 2s; animation-delay: 800ms; animation-name: fadeIn;">
                    <div class="section-card-icon"><img width="55" src="assets/images/sofoinsure-solution-icon.svg" alt="sofoinsure Icon"></div>
                    <div class="section-card-content">
                        <h2 class="section-card-heading">SALES LEADS,<br> MARKETING AND DATA MANAGEMENT</h2>
                        <!-- <p class="section-card-text">Autonomous Claim Processing Solution</p> -->
                        <a class="rounded-ghost-btn section-card-btn no-ul" routerLink="/services">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<div class="clearfix"></div>

<!-- start section -->
<div class="section section-pd">
    <div class="container">
        <div class="row">
            <div class="col-md-12 theme-color">
                <h2 class="section-heading text-center marB0 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Looking for a partner for your next business opportunity?</h2>
                <p class="text-center marT25 fs-18 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name: fadeInUp;">Whether you are searching for a Company for your next offering, Industry Insights, Market Insights, Sales Leads, Marketing and Data Management Solution or Consulting, the team of Business Research Database & Sales Solution at idatum.io
                    can help you.</p>

            </div>
        </div>
    </div>
</div>
<!-- end section -->

<app-footer></app-footer>