<app-nav></app-nav>

<div class="container" style="padding-top:120px">
    <div class="row">
        <div class="col-md-12">
            <h2 class="home-banner-heading wow visibility: visible; animation-delay: 0.5s; animation-name: bounceInLeft" data-wow-duration="2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 2s; animation-delay: 0s; animation-name:bounceInLeft; visibility: visible; animation-delay:0.5s; animation-name: bounceInLeft;font-size:40px">Portfolio </h2>
        </div>
    </div>
</div>



<div class="container-fluid bg">
    <div class="container p-5">
        <div class="row pb-3">
            <div class="col-md-4">
                <h6>Banking & Financial Sector</h6>
            </div>
            <div class="col-md-4">
                <h6>Healthcare & Life Sciences</h6>
            </div>
            <div class="col-md-4">
                <h6>Retail</h6>
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-md-4">
                <h6>Manufacturing</h6>
            </div>
            <div class="col-md-4">
                <h6>Consumer Goods</h6>
            </div>
            <div class="col-md-4">
                <h6>Telecommunication</h6>
            </div>
        </div>


        <div class="row pb-3">
            <div class="col-md-4">
                <h6>Media</h6>
            </div>
            <div class="col-md-4">
                <h6>Technology</h6>
            </div>
            <div class="col-md-4">
                <h6>Government</h6>
            </div>
        </div>


        <div class="row pb-3">
            <div class="col-md-4">
                <h6>Transportation and Hospitality</h6>
            </div>
            <div class="col-md-4">
                <h6>Automotive</h6>
            </div>
            <div class="col-md-4">
                <h6>Education</h6>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <h6>Aviation</h6>
            </div>
            <!-- <div class="col-md-4">
                <h6>Healthcare & Life Sciences</h6>
            </div>
            <div class="col-md-4">
                <h6>Retail</h6>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>